<template name="newForm">
	<div class="row">
		<div class="span9">
		  <form action="/venues/new" method="POST" id="new-venue-form" class="form-horizontal" enctype="multipart/form-data">
		    
		    <fieldset>
		    	<legend data-toggle="collapse" data-target="#basic-info">Basic Information</legend>
		    	<div id="basic-info" class="collapse in">		    		
			      <div class="control-group">
			        <label class="control-label" for="name">Venue name</label>
			        <div class="controls">
			          <input type="text" id="name" name="name" value="" class="input-xxlarge required">
			        </div>
			      </div>
			      <div class="control-group ">
			        <label class="control-label" for="about">Description</label>
			        <div class="controls">
			          <textarea id="about" name="about" cols="50" class="input-xxlarge required" rows="4"></textarea>
			          <p class="help-inline"></p>
			        </div>
			      </div>
			    
			      <div class="control-group">
			        <label class="control-label" for="address-line1">Street Address</label>
			        <div class="controls">
			          <input type="text" id="address-line1" name="address-line1" value="" class="input-xlarge required" placeholder="12 Somplace Street">
			        </div>
			      </div>
			      <div class="control-group">
			        <!--label class="control-label" for="address-line2">Address Line 2</label-->
			        <div class="controls">
			          <input type="text" id="address-line2" name="address-line2" value="" class="input-xlarge">
			        </div>
			      </div>
			      <div class="control-group">
			        <label class="control-label" for="address-postCode">Post Code</label>
			        <div class="controls">
			          <input type="text" id="address-postCode" name="address-postCode" value="" class="input-xlarge required" placeholder="AA1 2BC">
			        </div>
			      </div>
			      <div class="control-group">
			        <label class="control-label" for="address-town">Town</label>
			        <div class="controls">
			          <input type="text" id="address-town" name="address-town" value="" class="input-xlarge required" placeholder="London">
			        </div>
			      </div>
			      <div class="control-group">
			      	<div class="controls">
			      		{{#unless showMap}}
			      		<button id="validate-address" type="button" class="btn btn-small">Validate Address</button>
			      		{{/unless}}
			      		{{#if showMap}}
			      		<input id="address_correct_checkbox" type="checkbox" value="1"> Yes, this address and marker are correct?
			      		{{/if}}
			      	</div>
			      </div>
			      {{#if showMap}}
			      	{{> map}}
	  			  {{/if}}

			      <div class="control-group">
			        <label class="control-label" for="contact-contactName">Contact Name</label>
			        <div class="controls">
			          <input type="text" id="contact-contactName" name="contact-contactName" value="" class="input-xlarge required">
			        </div>
			      </div>
			      <div class="control-group">
			        <label class="control-label" for="contact-email">Email</label>
			        <div class="controls">
			          <input type="text" id="contact-email" name="contact-email" value="" class="input-xlarge required email">
			        </div>
			      </div>
			      <div class="control-group">
			        <label class="control-label" for="contact-telephone">Telephone</label>
			        <div class="controls">
			          <input type="text" id="contact-telephone" name="contact-telephone" value="" class="input-xlarge required number">
			        </div>
			      </div>
			      <div class="control-group">
			        <label class="control-label" for="contact-website">Website</label>
			        <div class="controls">
			          <input type="text" id="contact-website" name="contact-website" value="" class="input-xlarge required">
			        </div>
			      </div>

			      <div class="control-group">
		  			<label class="control-label">Hire Type</label>
		  			<div class="controls">
				        <label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
						  Dry Hire
						</label>
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
						  Wet Hire (Bespoke)
						</label>
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios3" value="3" required="">
						  Both
						</label>
					</div>
		  		  </div>
		  		</div>		  		

		    </fieldset>

		    <fieldset>
		      <legend data-toggle="collapse" data-target="#room-info">Hire Space</legend>
		      <div id="room-info" class="collapse in">
			      <div class="control-group">
			        <label class="control-label" for="rooms-name-0">Room</label>
			        <div class="controls">
			          <input type="text" id="rooms-name-0" name="rooms-name-0" value="" class="input-xxlarge">
			        </div>
			      </div>
			      <div class="control-group">
			        <label class="control-label" for="rooms-description-0">Short description</label>
			        <div class="controls">
			          <textarea id="rooms-description-0" name="rooms-description-0" cols="50" class="input-xxlarge" rows="10"></textarea>
			        </div>
			      </div>
			      <div class="control-group">
			        <label class="control-label" for="rooms-maxCapacityStanding-0">Max Capacity Standing</label>
			        <div class="controls">
			          <input type="text" id="rooms-maxCapacityStanding-0" name="rooms-maxCapacityStanding-0" value="" class="input-mini number" placeholder="e.g. 300">
			        </div>
			      </div>
			      <div class="control-group">
			        <label class="control-label" for="rooms-maxCapacityTheatre-0">Max Capacity Threatre</label>
			        <div class="controls">
			          <input type="text" id="rooms-maxCapacityTheatre-0" name="rooms-maxCapacityTheatre-0" value="" class="input-mini number">
			        </div>
			      </div>
			      <div class="control-group">
			        <label class="control-label" for="rooms-maxCapacityBanquet-0">Max Capacity Banquet</label>
			        <div class="controls">
			          <input type="text" id="rooms-maxCapacityBanquet-0" name="rooms-maxCapacityBanquet-0" value="" class="input-mini number">
			        </div>
			      </div>		      
			      <div class="control-group">
			        <label class="control-label" for="rooms-dimensions-0">Dimensions (* sq foot)</label>
			        <div class="controls">
			          <input type="text" id="rooms-dimensions-0" name="rooms-dimensions-0" value="" class="input-mini number" placeholder="e.g 3000">
			        </div>
			      </div>
		      </div>
		    </fieldset>

		    <fieldset>
		      <legend>Facilities</legend>
		      <label class="checkbox span2">
			    <input type="checkbox" id="inlineCheckbox1" value="option1"> Parking
			  </label>
			  <label class="checkbox span2">
			    <input type="checkbox" id="inlineCheckbox2" value="option2"> Kitchen
			  </label>
			  <label class="checkbox span2">
			    <input type="checkbox" id="inlineCheckbox3" value="option3"> Refrigeration
			  </label>
			  <label class="checkbox span2">
			    <input type="checkbox" id="inlineCheckbox4" value="option4"> Disabled Facilities
			  </label>	   
			  <label class="checkbox span2">
			    <input type="checkbox" id="inlineCheckbox5" value="option5"> Wedding Licence
			  </label>	   	    
		    </fieldset>

		    <br>
		    <fieldset>
		      <legend>Add Photos</legend>
		      <div class="control-group">
		      	{{#unless uploadSuccessful}}
		      	<label class="control-label" for="choose-files">Choose Files</label>
		      	{{/unless}}
		      	<div class="controls">
		      		
			      <!--div id="picture-upload">
			        <input id="hide-file" type="file" name="file" />
			      </div-->
			      <!--input type="filepicker-dragdrop" data-fp-apikey="AU2hmvvEDS5GPPz1wn5ecz" data-fp-multiple="true"/-->

		      		{{#if uploadSuccessful}}
		      			{{>upldArray}}
		      		{{ else }}
		      			<button class="btn btn-small" id="choose-files">Click to Add</button>
		      		{{/if}}
		      	</div>
		      </div>
		    </fieldset>	

		        
		    <br>

		    <fieldset>
		      <legend>Terms and Conditions</legend>
		      <div class="control-group">
		        <label class="control-label" for="accept"></label>
		        <div class="controls">		        	
		          <input type="checkbox" id="accept" name="accept" value="true" class="required">
		          <span><a>You agree the Terms and conditions</a></span>
		        </div>
		      </div>
		    </fieldset>
		    <div class="form-actions">
  				<button type="submit" class="btn btn-primary">Create</button>
  				<a href="/" type="button" class="btn">Cancel</a>
			</div>
		  </form>
		</div>	
	</div>
</template>

<template name="upldArray"> 
	{{#each uploadedpic}}
		{{>upld}}
	{{/each}}
</template>

<template name="upld">
	<p>{{ filename }}</p>
	<input class="xx" type="hidden" value="{{ url }}">
	<img src="{{ url }}" height="60" width="60"><p class="remove">x</p>
</template>

<template name="map">
	{{#constant}}
	<div class="control-group">
		<div class="controls">
			<div id="map">
			</div>
		</div>
	</div>
	{{/constant}}
</template>