<template name="venues">
	<div class="span3">
	</div>

	<div class="span9">
		<ul>
		<!--{{#each venues}}
			{{> venue}}
		{{/each}}-->
		</ul>
	</div>
</template>

<template name="venue">
	<!--<li class="span3">
		<div class="thumbnail">
			<a href="venues/{{_id}}">
            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;" src="">
            </a>
        </div>
        <label class="checkbox inline">
            <input type="checkbox" value="{{_id}}">Compare
        </label>
	</li>-->
</template>