<template name="venues">
	
	<div class="row">
		<div class="span3">
			{{>filterSearch}}
		</div>

		<div class="span9">
			<div class="row">
				<div id="display-view" class="btn-toolbar text-right">
				    <div id="display-views" class="btn-group">
				        <a id="listview" class="btn" data-s="listview" href="#listview"><i data-s="listview" class="icon-list"></i></a>
				        <a id="thumbnailview" class="btn" data-s="thumbnailview" href="#thumbnails-view"><i data-s="thumbnailview" class="icon-th"></i></a>
				        <a id="mapview" class="btn" data-s="mapview" href="#map"><i data-s="mapview" class="icon-map-marker"></i></a>
				    </div>
				</div>
			</div>
			{{#if displayView "thumbnailview"}}
				<ul class="thumbnails">
				{{#each all}}
					{{> venue-view1}}
				{{/each}}
				</ul>			  
			{{/if}}

			{{#if displayView "listview"}}
				{{#each all}}
			 		{{> venue-view2}}
			 	{{/each}}
			{{/if}}			
		</div>
	</div>	
</template>

<template name="venue-view1">
	<li class="span3">
		<div class="thumbnail">
			<a href="venues/{{_id}}">
            <img alt="300x200" data-src="holder.js/300x200" style="width: 300px; height: 200px;" src="{{images.0.url}}">
            </a>

            <div class="caption">
            	<h5>{{name}}</h5>
            <div id="display-address">{{address.postcode}}, {{address.town}}</div>
	        </div>
	        <label class="checkbox inline">
	            <input type="checkbox" value="{{_id}}">Compare
	        </label>
	    </div>
	</li>
</template>

<template name="venue-view2">
	<div class="listview">
	    <div class="media">
	        <a class="pull-left" href="venues/{{_id}}">
	            <img class="media-object" data-src="holder.js/64x64" style="width: 64px; height: 64px;" src="{{images.0.url}}">
	        </a>
	        <div class="media-body summary">
	            <h5 class="media-heading">{{name}}</h5>
	            <div id="display-address">{{address.postcode}}, {{address.town}}</div>
	        </div>

	        <label class="controls checkbox inline">
	            <input type="checkbox" value="@venue.id">Compare
	        </label>
	    </div>
	</div>
	<hr class="results">
</template>

<template name="filterSearch">
	<label class="checkbox">
    	<input class="hiretype" type="checkbox" value="1"> Dry Hire
  	</label>
  	<label class="checkbox">
    	<input class="hiretype" type="checkbox" value="2"> Wet Hire (Bespoke)
  	</label>
	<div class="control-group">
		<h5>Hire Type</h5>
		<div class="controls">
	        <label class="radio">
			  <input class="hiretype" type="radio" name="optionsRadios" id="option1" value="1">
			  Dry Hire
			</label>
			<label class="radio">
			  <input class="hiretype" type="radio" name="optionsRadios" id="option2" value="2">
			  Wet Hire (Bespoke)
			</label>
			<label class="radio">
			  <input class="hiretype" type="radio" name="optionsRadios" id="option3" value="3" required="">
			  Both
			</label>
		</div>
	</div>
</template>

